body {
    font-family: sans-serif;
    background-color: #0194be;
    padding-top: 30px;
}

p {
  color: #f2f2f2;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

#contador{
  font-size: 35px;
}
div{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

button {
  background-color: #f2f2f2;
  border: none;
  padding: 16px;
  margin: 7px;
  border-radius: 30px;
  transition: .2s all;
  color: #0fc3e8;
  font-weight: bold;
  font-size: 16px;
}

button:hover{
  background-color: #0fc3e8;
  transform: scale(1.2);
  color: #fff;
}
