---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Taller from "../components/Taller.tsx";
import TallerLeft from "../components/TallerLeft.tsx";
import Carousel from "../components/Carousel.astro";
// import Calendario from "../components/Calendar/Calendario.tsx";
import Agendar from "../components/Agendar.jsx"
import Select from "../components/Calendar/Select.jsx"
---

<Layout title="Aceituna">
  <Navbar />
  <main class="bg-[--yellow]">
    <section class="hero">
      <div
        class="w-50 bg-beige-1 text-center pt-16 pb-8 px-16 relative top-60 max-w-[70vw] mx-auto"
      >
        <span class="bg-[--beige] px-16 py-2 text-3xl text-[--gray] monserrat"
          >ACEITUNA</span
        >
        <p class="text-[--brown] mt-10">
          Somos una plataforma dedicada a elevar la experiencia de los adultos
          con base a actividades de diferentes intereses y así empoderar su vida
          y hacer una comunidad de personas afines a sus intereses.
        </p>
        <br />
        <p class="text-[--gray] pb-5">
          “Nunca es tarde para salir de su rutina, se puede vivir una segunda
          juventud, los hijos se van y estamos libres de ataduras lo cual nos
          permite vivir de nuevo experiencias enriquecedoras.” <br
          />Jean-Christophe Jaunait
        </p>
      </div>
    </section>
    <section class="hero1"></section>

    <section class="w-full bg-[--beige-clear] p-10">
      <div class="mx-auto pb-5">
        <h2 class="text-[--brown] text-4xl text-center">
          BENEFICIOS DE ESTA R EN ACEITUNA
        </h2>
        <div class="flex justify-center gap-10 flex-wrap mt-10" id="boxes">
          <div class="flex justify-center items-center text-3xl">
            Conocimiento
          </div>
          <div class="flex justify-center items-center text-3xl">Comunidad</div>
          <div class="flex justify-center items-center text-3xl">Bienestar</div>
        </div>
      </div>
    </section>

    <section class="flex justify-center py-20">
      <a href="">
        <img class="w-[500px]" src="/images/inscription.png" alt="" />
      </a>
    </section>

    <section class="flex justify-between bg-[--beige-clear]">
      <div class="py-20 ps-10">
        <span
          class="bg-[--beige] text-[--brown] monserrat font-medium text-4xl p-4"
          >¿Cómo funciona?</span
        >
        <p class="mt-10 mb-10 text-[--brown] text-xl">
          Tenemos varías formas por las cuales pueden contactarnos y te <br />
          apoyaremos desde la que sea de tu elección, conócelas <br /> más adelante...
        </p>
        <a class="mt-10" href=""
          ><img class="w-[15vw]" src="/images/leer-mas.png" alt="" /></a
        >
      </div>
      <div class="">
        <img
          class="w-[40vw] h-[60vh] object-cover"
          src="/images/imagenes-08.png"
          alt=""
        />
      </div>
    </section>

    <section id="talleres" class="bg-[--beige] pb-20">
      <h2 class="text-[--brown] text-5xl text-center pt-16">
        TALLERES QUE OFRECEMOS
      </h2>
      <p
        class="text-[--brown] text-2xl text-center text-medium mb-10 monserrat"
      >
        Consulta el calendario de actividades
      </p>
      <!-- cuadros -->
      <Taller
        imageSrc="/images/imagenes-09.png"
        title="Ver"
        textItems={["Club de cine"]}
      />
      <TallerLeft
        title="Sentir"
        imageSrc="/images/imagenes-10.png"
        textItems={[
          "Pilates & barre baja intensidad",
          "Power",
          "Ejercicios Funcionales",
          "Defensa personal",
          "Yoga",
        ]}
      />
      <Taller
        imageSrc="/images/imagenes-11.png"
        title="Conocer"
        textItems={[
          "Tertulias de filosofia",
          "Desarrollo & bien estar personal",
        ]}
      />
      <TallerLeft
        title="Aprender"
        imageSrc="/images/imagenes-12.png"
        textItems={[
          "Pintura",
          "Catas de vino",
          "Estilo personal para damas & caballeros",
          "Feng shui",
          "Defensa personal",
          "Finanzas personales",
          "Historia",
          "Historia del arte",
        ]}
      />
    </section>

    <section class="pb-20">
      <h2 class="text-4xl text-[--brown] text-center pt-16">SUSCRIPCIONES</h2>
      <div class="flex justify-center flex-wrap gap-20 mt-10">
        <img class="w-[40vw] h-auto" src="/images/silver.png" alt="" />
        <img class="w-[40vw] h-auto" src="/images/gold.png" alt="" />
        <img class="w-[40vw] h-auto" src="/images/VIP.png" alt="" />
      </div>
    </section>

    <section class="bg-fundadores pb-16">
      <h2 class="text-4xl text-[--brown] text-center pt-16 pb-16">
        FUNDADORES
      </h2>
      <div class="flex justify-around items-center h-full flex-wrap">
        <img class="w-[30vw]" src="/images/fundador.png" alt="" />
        <img class="w-[30vw]" src="/images/fundadora.png" alt="" />
      </div>
    </section>

    <Carousel />

    <section class="bg-[--beige] pb-16">
      <h4 class="text-4xl text-[--brown] text-center pt-16 pb-16">
        CALENDARIO DE TALLERES
      </h4>
      <div class="flex justify-around">
        <div class="w-[500px] bg-[--brown] h-[500px]"></div>
        <div class="flex flex-col gap-10 justify-center">
          <div class="w-[400px] bg-[--brown] h-[50px]"></div>
          <div class="w-[400px] bg-[--brown] h-[50px]"></div>
          <div class="w-[400px] bg-[--brown] h-[50px]"></div>
        </div>
      </div>
    </section>

    <!-- calendario -->
    <!-- <Calendario eventos={calendarioActividades.enero2024} /> -->
    <!-- <Agendar /> -->
    <Select />


    <div class="w-full h-16"></div>
    <!-- contact -->
    <section class="bg-[--beige] pb-16">
      <h4 class="text-4xl text-[--brown] text-center pt-16 pb-16">CONTACTO</h4>
      <div class="flex justify-center items-center gap-5">
        <input
          class="border-none w-[300px] py-4 ps-5 monserrat text-sm"
          type="text"
          placeholder="NOMBRE COMPLETO"
        />
        <input
          class="border-none w-[300px] py-4 ps-5 monserrat text-sm"
          type="email"
          placeholder="CORREO"
        />
        <input
          class="w-[300px] bg-[--brown] py-3 monserrat"
          type="submit"
          title="CONTÁCTANOS"
        />
      </div>
      <div class="flex justify-center gap-x-5 mt-16">
        <a
          class="transition hover:scale-110"
          href="https://www.instagram.com/aceitunaexperience?fbclid=IwAR3c9t6cBUB4XIWyC-kTT8xa3Vo81tv8nbt2JJdmpz1qmFz34UizYX6eIeE"
          target="_blank"
          ><img src="/icons/insta-round.png" alt="instagram" /></a
        >
        <a class="transition hover:scale-110" href="">
          <img src="/icons/youtube-round.png" alt="youtube" /></a
        >
        <a
          class="transition hover:scale-110"
          href="https://www.facebook.com/profile.php?id=61554323523242"
          target="_blank"><img src="/icons/face-round.png" alt="facebook" /></a
        >
      </div>

      <div
        class="mt-10 flex justify-center mx-auto gap-y-5 items-center flex-col max-w-[500px]"
      >
        <!-- <div class="flex w-60 justify-center items-center text-[--brown] monserrat font-bold"><img class="me-4" src="/icons/mail-round.png" alt=""> contacto@aceitunaexperience.com</div>
        <div class="flex text-start justify-start text-[--brown] monserrat font-bold"><img class="me-4" src="/icons/whats-round.png" alt=""> +52 33 1302 2587</div>
        <div class="flex  justify-center items-center text-[--brown] monserrat font-bold"><img class="me-4" src="/icons/map-round.png" alt=""> Rubens 5273, colonia Real Vallarta, <br>
          45020 Zapopan</div> -->
        <div class="flex justify-center text-[--brown] monserrat font-bold">
          <div class="flex flex-col text-[--brown] monserrat font-bold">
            <img class="me-4 mb-2" src="/icons/mail-round.png" alt="" />
            <img class="me-4" src="/icons/whats-round.png " alt="" />
            <img
              class="me-4 mt-4"
              src="/icons/map-round.png"
              alt=""
            />
          </div>

          <div
            class="flex text-start justify-start text-base text-[--brown] pt-1.5 monserrat font-bold"
          >
            contacto@aceitunaexperience.com <br /><br />
            +52 33 1302 2587 <br />
            <br />
            Rubens 5273, colonia Real Vallarta, <br />
            45020 Zapopan
          </div>
          <div
            class="flex justify-center items-center text-[--brown] monserrat font-bold"
          >
          </div>
        </div>
      </div>
    </section>

    <footer
      class="text-center flex flex-col monserrat text-base gap-y-3 text-[--brown] font-medium py-10"
    >
      <a href="/pdf/terminos-de-uso.pdf" target="_blank">TÉRMINOS DE USO</a>
      <a href="/pdf/aviso-de-privacidad.pdf" target="_blank">AVISO DE PRIVACIDAD</a>
      <a href="/pdf/politicas-de-cancelacion.pdf" target="_blank">POLÍTICAS DE CANCELACIÓN</a>
    </footer>
  </main>
</Layout>

<style>
  main {
    margin: auto;

    /* width: 800px;
		max-width: calc(100% - 2rem); */
    color: white;
    font-size: 20px;
    line-height: 1.4;
  }

  .hero {
    background-image: url("/images/imagenes-07.png");
    height: 60vh;
    background-size: cover;
    background-position: top;
  }
  .hero1 {
    height: 60vh;
    background-size: cover;
    background-position: top;
  }
  .bg-beige-1 {
    background-image: url("/images/bg-beige-1.png");
    background-size: cover;
    background-position: center;
  }

  #boxes div:nth-child(1) {
    background-image: url("/images/box-1.png");
    width: 300px;
    height: 200px;
    background-size: cover;
    background-position: center;
  }
  #boxes div:nth-child(2) {
    background-image: url("/images/box-2.png");
    width: 300px;
    height: 200px;
    background-size: cover;
    background-position: center;
  }
  #boxes div:nth-child(3) {
    background-image: url("/images/box-3.png");
    width: 300px;
    height: 200px;
    background-size: cover;
    background-position: center;
  }

  .bg-fundadores {
    background-image: url("/images/bg-founders.png");
    background-size: cover;
    background-position: bottom;
  }
</style>
