:root {
  --azul-cielo: #5887da;
  --marino: #0047ba;
  --oscuro: #293654;
}

.cta-btn {
  background-color: var(--azul-cielo);
  padding: 0px 0px;
  border-radius: 5px;
  width: 190px;
  margin-left: 20%;
}

.cta-btn a {
  color: #fff;
  text-align: center;
  font-weight: bold;
}

ul li a {
  font-weight: bold;
}

.logo {
  width: 200px;
  height: auto;
  padding: 0;
}

.sky-blue {
  color: var(--azul-cielo);
}

.dark-blue {
  color: var(--oscuro);
}

.blue {
  color: #0047ba;
}

.line {
  display: block;
  width: 120px;
  height: 7px;
  background-color: var(--azul-cielo);
}
/* Estilo personalizado para el carrusel */
.carousel-inner {
  background-size: cover;
  height: atuo;
}

.carousel-indicators li {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  margin-bottom: 100px;
}

.carousel-background {
  position: relative;
  overflow: hidden;
  margin-bottom: 10%;
}

.carousel-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1); /* Color de fondo del contenido */
  color: white; /* Color del texto del contenido */
  padding: 10% 5%; /* Espaciado interno del contenido */
  z-index: 1; /* Coloca el contenido sobre el carrusel */
}

.carousel-inner {
  z-index: 0; /* Envía el carrusel detrás del contenido */
}

.header-img {
  width: 100%;
  height: auto;
}

/* Toggle button */
.navbar-toggler-icon {
  color: blue !important;
  border: 1px solid blue;
  padding: 1px;
  border-radius: 5px;
}

/* Estilo personalizado para el navbar */
.navbar {
  background-color: #fff; /* Cambia el color de fondo según tus preferencias */
  height: 70px;
}
.navbar-dark .navbar-toggler-icon {
  background-color: #ddd; /* Cambia el color del icono del botón del menú */
}

#resultado {
  font-weight: bold;
  margin-top: 10px;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

#imc-container {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

/* blue label */
.blue-label {
  display: flex;
  justify-content: space-between;
  background-color: #0047ba;
  width: 80%;
  height: 15%;
  padding: 10px 2%;
  border-radius: 20px;
  color: #fff;
}

.container-label {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: -16%;

  z-index: 99;
}

.cta-btn-arrow {
  background-color: var(--azul-cielo);
  padding: 0px 0px;
  border-radius: 5px;
  padding: 4px 5px 3px 10px;
}
.cta-btn-arrow a {
  color: #fff;
}
.arrow-sm {
  width: 6%;
  margin-left: 10px;
  right: 0;
}

.ambulance {
  width: 30px;
}

/* services */
.services{
    height: 70vh;
    background-image: url('../images/services.png'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Escala la imagen para cubrir todo el contenedor */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    background-position: center center;
}

.btn-services{
  background-color: var(--azul-cielo);
  border: none;
  border-radius: 15px;
  display: flex;
  justify-content: flex-start;
  padding: 12px 35px 15px 35px;
  margin: 1rem;
}

.btn-services a {
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
}

.btn-services a img {
  width: 20px;
}

#services-btn{
  top: 40px;
}


/* about */
.about{
    background-color: var(--azul-cielo);
    border-radius: 50px;
}

.about-img{
    width: 50%;
    height: 50%;
    
}

.about-text{
    width: 45%;
}

/* team */
.team-img{
    width: 97%;
    border-radius: 50px;
    
}

/* contact */

.contact-div{
  height: 90vh;
}

.img-contact{
  width: 100%;
  height: auto;
  margin: 0 10% 0 0;
  border-radius: 70px 0 0 0;
  box-shadow: -30px -30px 0 #5887da;
}



.contact-header{
  width: 30%;
}

.h3-contact{
  font-size: 3rem;
  font-weight: bolder;
  text-align: right;
}
