html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.text-color {
  color: linear-gradient(
    180deg,
    rgba(162, 136, 69, 1) 0%,
    rgba(192, 186, 134, 1) 100%
  );
  background-image: linear-gradient(
    180deg,
    rgba(162, 136, 69, 1) 0%,
    rgba(192, 186, 134, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bg-color {
  background-color: linear-gradient(
    180deg,
    rgba(162, 136, 69, 1) 0%,
    rgba(192, 186, 134, 1) 100%
  );
}

.degradado {
  background: rgb(162, 136, 69);
  background: linear-gradient(
    180deg,
    rgba(162, 136, 69, 1) 0%,
    rgba(192, 186, 134, 1) 100%
  );
}

a {
  cursor: pointer;
  text-decoration: none;
}

.golden-bar {
  border-radius: 40px;
  padding: 0 10% 0 10%;
}

.nav-link {
  font-weight: bold;
}

.capa {
  width: 99vw;
  background-color: #000;
  background-image: linear-gradient(
      -225deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.6) 10%
    ),
    url("./img/capa.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
}

.img-hero {
  width: 100%;
}

.hero-shadow {
  background: linear-gradient(
    180deg,
    rgba(162, 136, 69, 1) 0%,
    rgba(192, 186, 134, 1) 100%
  );
  box-shadow: -60px 0 -91px linear-gradient(to right, #e2b41e, #e2b41e);
}

.cta {
  padding: 7px 25px;
  border-radius: 20px;
  border: solid 2px rgba(162, 136, 69, 1);
  color: rgba(162, 136, 69);
  background-color: transparent;
  transition: 0.4s ease all;
}

.cta:hover {
  background: linear-gradient(
    180deg,
    rgba(162, 136, 69, 1) 0%,
    rgba(192, 186, 134, 1) 100%
  );
  color: #fff;
}

.cta a {
  text-decoration: none;
  color: rgba(162, 136, 69);
}

.cta a:hover {
  color: #fff;
}

.hr {
  width: 100%;
  height: 10px;
  border: 6px solid #a28845;
  opacity: 1;
  border-radius: 0 0 30px 30px;
  color: #a28845;
}

.card {
  border-top: solid 15px #a28845 !important;
}

.card:hover {
  box-shadow: 7px 7px 7px rgb(0, 0, 0);
}

.parrafo {
  font-size: 14px;
}

.parrafo1 {
  font-size: 11px;
}

.z-50 {
  z-index: 50;
}

/* .restaurant1 {
  flex-direction: row;
  margin-top: 30px;
} */

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: transparent !important;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: none;
}

#footer-log {
  margin: 0;
}

@media screen and (max-width: 968px) {
  p {
    font-size: 0.8rem;
  }
  .fs-4 {
    font-size: 1rem !important;
  }
  .fs-1 {
    font-size: 1.3rem !important;
  }
  .img1 {
    margin-top: 7rem !important;
  }
  .degradado {
    background: white !important;
  }
  .navbar {
    flex-wrap: nowrap;
  }
  .navbar-nav {
    padding-left: 20px;
    gap: 0 !important;
  }
  .navbar-toggler {
    background-color: none;
    background-image: url("./img/color-icon.png") !important;
    background-size: cover !important;
    background-position: center;
  }
  header {
    box-shadow: 5px 0 5px #000;
  }
  .cta {
    margin: 0px 0 !important;
    text-align: center;
  }
  #scrollspyHeading1 > div.container.col-12.col-md-7.px-4 > div > p {
    padding: 0 !important;
  }
  h2 {
    text-align: center;
  }
  h3 {
    text-align: center;
  }
  .img1 {
    width: 50%;
    margin: 50px 0 50px 0 !important;
  }
  .restaurant1 {
    flex-direction: column-reverse;
    margin-top: 30px;
  }
  .img2 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .img-hero {
    width: 50vw;
    height: 400px !important;
    object-fit: cover;
  }
  .card {
    width: 17rem !important;
    margin: 10px 0 !important;
  }
  .card-text {
    font-size: 0.8rem !important;
  }

  .card .cta {
    bottom: 0 !important;
  }

  .margin-tateposo {
    margin-top: 300px;
  }
}

@media screen and (max-width: 768px) {
  .img1 {
    margin-top: 2px;
  }
  .card {
    width: 18rem !important;
  }
  footer {
    display: block;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  #footer-log {
    margin: 0 50%;
  }
}

@media screen and (max-width: 500px) {

}

/* Owl carousel  */

#carrusel{
    margin: 30px auto;
}
     #carrusel .item{
         background: none;
         height: 300px;
     }
     #carrusel .item img{
         min-width: 200px;
         height: auto;
     } 

.owl-nav{
  text-align: center;
  margin-top: 0px;
}

.owl-prev, .owl-next{
  margin: 0 15px;
}

.owl-prev span{
  font-size: 5rem;
  padding: 0px 10px 10px 10px !important;
  color: #bbb;

}

.owl-next span{
  font-size: 5rem;
  height: 10px !important;
  color: #bbb;
}

