.golden-bar{
    background-color: #e2b41e;
    border-radius: 40px;
    padding: 0 10% 0 10%;
}

.nav-link {
    font-weight: bold;
}

.capa{
    width: 100vw;
    background-image: url("./img/capa.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.img-hero{
    word-wrap: 100%;
}