body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.contenedor {
  width: 100%;
  height: 100vh;
}

.imagen {
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  background-color: black;
}

.imagen img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
  /* left: 50%; */
  /* transform: translateX(-50%); */
}

.navbar a {
  text-decoration: none;
  color: #b3b2b2;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.navbar a:hover {
  color: white;
}

.texto {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 85%;
  color: white;
  font-weight: bold;
}

.contenedor a {
  position: absolute;
  text-decoration: none;
  color: white;
  font-size: 36px;
  top: 50%;
  /* transform: translateY(-50%); */
}
.siguiente {
  left: 97%;
}

.boton {
  position: absolute;
  top: 5%;
  left: 95%;
}

.puntos {
  position: absolute;
  top: 95%;
  width: 100%;
  text-align: center;
}
.punto {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  margin-right: 5px;
}
.punto:hover {
  cursor: pointer;
  background-color: gray;
}

.contenedor a:hover {
  color: gray;
}

.actual {
  visibility: visible;
  opacity: 1;
  transition: visibility .1s, opacity 1s;
}

.activo {
  background-color: gray;
}

/* owl */
.carousel-wrap {
  margin: 0px 0;
  padding: 0;
  width: 100%;
  position: relative;
}

/* fix blank or flashing items on carousel */
.owl-carousel .item {
  position: relative;
  z-index: 100;
  --webkit-backface-visibility: hidden;
}

/* end fix */
.owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.owl-nav i {
  font-size: 52px;
}

.owl-nav .owl-prev {
  left: -30px;
}

.owl-nav .owl-next {
  right: -30px;
}

.seccion1 {
  width: 100%;
  height: 100vh;
  background: url("./img/IMAGENES\ SKALA-seccion.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.seccion1 div:nth-child(1) {
  width: 25%;
  color: #fff;
  text-align: center;
  margin-top: 10%;
}
.seccion1 div:nth-child(2) {
  width: 25%;
  color: #fff;
  text-align: center;
  margin-top: 60vh;
}
.seccion1 div:nth-child(3) {
  width: 50%;
  margin: auto 0;
  padding: 5% 0 5% 5%;
}

@media screen and (max-width: 1200px) {
  .seccion1{
    flex-direction: column;
    height: 100%;
    top: 0;
  }

  .seccion1 div:nth-child(1) {
    width: 100%;
    margin-top: 40px;
  }
  .seccion1 div:nth-child(2) {
    width: 100%;
    margin-top: 10px;
  }
  .seccion1 div:nth-child(3) {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    /* padding: auto; */
  }

  /* .img-seccion1{
    width: 60%;
  } */
 
}

.seccion2 {
  height: 34vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 12px;
}

.seccion2 div {
  width: 100px;
  height: 100px;
  background-color: #000;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2%;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  
  .seccion2{
    height: auto;
    margin-top: 40px;
  }
  .seccion2 div {
    margin:  2%;
  }
}

.seccion-footer {
  width: 100%;
  height: 20vh;
  background-color: #696969;
  color: #fff;
  display: flex;
  align-items: center;
}

.seccion-footer div:nth-child(1) {
  width: 25%;
  text-align: center;
  padding: 35px;
  font-size: 40px;
}
.seccion-footer div:nth-child(2) {
  width: 50%;
  text-align: center;
  font-size: 20px;
  padding: 35px;
  border-right: 3px solid #fff;
  border-left: 3px solid #fff;
}
.seccion-footer div:nth-child(3) {
  width: 25%;
  font-size: 18px;
  text-align: center;
  padding: 0 25px;
}

.footer {
  height: 50vh;
}

.footer-negro {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #000;
  color: #fff;
}

.footer-negro div {
  width: 20%;
  font-size: 12px;
}

.seccion-mision {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgb(255 255 255 / 0.74), rgb(255 255 255 / 0.75)),
    url("./img/IMAGENES\ SKALA-03.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.seccion-mision h2 {
  font-size: 40px;
}

.seccion-mision p {
  font-size: 20px;
  padding: 0 15%;
}

@media screen and (max-width: 768px) {
  .seccion-mision{
    height: 100%;
    padding: 40px 0;
  }
  .seccion-mision h2 {
    font-size: 20px;
    margin: 0;
  }
  
  .seccion-mision p {
    font-size: 14px;
    padding: 0 15%;
  }
}

.seccion4 {
  background: linear-gradient(rgb(0 0 0 / 0.75), rgb(0 0 0 / 0.75)),
    url("./img/IMAGENES\ SKALA-04.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.ul-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 0 10px 10px;
}

.ul-img div:nth-child(1) {
  width: auto;
  color: #fff;
  padding: 7%;
}

.ul-img div h4:nth-child(1) {
  font-size: 20px;
  width: auto;
  color: #fff;
  padding: 0 7%;
}

.ul-img div:nth-child(2) {
  width: 50%;
}



.ul-img img {
  width: 100%;
}

.ul-img2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 10px 10px 0px;
}

.ul-img2 div:nth-child(1) {
  width: 50%;
}

.ul-img2 div:nth-child(2) {
  width: auto;
  color: #fff;
  /* padding: 4%; */
}

.ul-img2 div h4 {
  font-size: 20px;
  width: auto;
  color: #fff;
  /* padding: 0 4%; */
}

.ul-img2 img {
  width: 100%;
}


@media screen and (max-width: 768px) {
  .ul-img div:nth-child(2) {
    width: 100%;
    margin: auto;
    
  }
  .ul-img div:nth-child(1){
    order: 1;
    margin-top: 0px;
    padding: 0;
  }
  .ul-img2 div:nth-child(1) {
    width: 100%;
    display: flex;
    text-align: center;
  }
  .ul-img img {
    width: 70%;
    display: flex;

    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
  }


  .ul-img2 div:nth-child(1) {
    width: 100%;
    order: 0;
  }
  
  /* .ul-img2 div:nth-child(2) {

  } */
  .ul-img2 img {
    width: 70%;
    display: flex;

    text-align: center;
    justify-content: center;
    margin: auto;
  }
}

footer {
  margin-top: 4rem;
  width: 100%;
  height: 100%;
}

footer img {
  width: 100%;
}


.ul li{
  margin: 10px 0;
}


.section-cards{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 5%;
}

.section-cards div{
  background-color: #b3b2b2;
  width: 260px;
  height: 260px;
}

@media screen and (max-width: 1000px) {
  .section-cards div{
    margin: 10px;
  }
}


.section-cards div{
  padding: 5px 0;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.section-cards div img {
  width: 80%;
  height: auto;
  margin: 0;
  text-align: center;
}

.section-cards div p {
  font-size: 11px;
  margin: 0;
  text-align: center;
  padding: 0 15px;
}

.contacto{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  color: #fff;
}

.contacto div:nth-child(1) {
  width: 30%;
  background-color: #494949;
  padding: 0px;
}



.contacto div:nth-child(2) {
  width: 70%;
  background: url("./img/IMAGENES\ SKALA-03.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#caja-gris {
  padding: 7% 0;
  align-items: center;
}

#caja-gris p,
#caja-gris h2,
#caja-gris h3,
#caja-gris img{
  padding: 3px 0 0 30px;
}

@media screen and (max-width: 768px){
  .contacto{
    height: 100%;
  }
  
  .contacto div:nth-child(1){
    width: 100%;
    height: auto;
  }

  .contacto div:nth-child(2){
    width: 100%;
    height: auto;
  }

  #caja-gris p {
    padding: 7% 7%;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  display: none;
}


#formulario form  {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:  10%;
  
}

#formulario form h3{
  text-align: start;
  color: #fff;
  font-size: 1.8rem;
  padding: 0;
  margin: 0;
}

#formulario form div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  gap: 2rem;
  margin: 1rem 0;
}

#formulario form div input{
  width: 50%;
  padding: 13px 25px;
  border: none;
  border-radius: 25px;
  background-color: rgb(255 255 255 / 0.74);
  font-weight: bold;
 
}

@media screen and (max-width: 500px) {
  #formulario form div {
    flex-direction: column;
  }

  #formulario form div input{
    width: 100%;

  }
}

#formulario form div textarea {
  width: 100%;padding: 8px 25px;
  border: none;
  border-radius: 25px;
  background-color: rgb(255 255 255 / 0.54);
  font-family: sans-serif;
  font-weight: bold;
}

.btn{
  padding: 11px 14px;
  border: none;
  border-radius: 25px;
  background-color: rgb(255 255 255 / 0.54);
  font-weight: bold;
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
  transition:  .3s ease all;
}

.btn:hover{
  background-color: rgb(0 0 0 / 0.54);
}

@media screen and (max-width: 768px) {

  .navbar{
    justify-content: space-around;
  }
  .navbar a{
    font-size: 13px;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 20%;
  }
  .navbar a:first-child{
  
    margin-left: -15px;
    padding: 0;
  
  }
}

@media screen and (max-width: 380px) {
  .navbar a{
    font-size: 10px;
  }
}

/* Animación */

.overlay {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #fff;
  width: 40px;
  height: 40px;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}